<p>您好， <%= @resource.name %>!</p>
<p>系統發現您發送忘記密碼之請求，以下是更改密碼之連結：</p>
<p><%= link_to '點選我立即更改密碼', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>如果您沒有發送過此請求，請忽略此郵件！</p>
<p>您的密碼將不會更改，直到您點選上面連結進行修改後，發送更改密碼之請求。</p>
